<app-nav></app-nav>

<div class="page-title-overlap bg-dark pt-4" style="background-image: url('assets/img/jumbo.png');background-size: cover;background-position-x: top;">
    <div class="container d-lg-flex justify-content-between py-2 py-lg-3">
      <div class="order-lg-2 mb-3 mb-lg-0 pt-lg-2">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb breadcrumb-light flex-lg-nowrap justify-content-center justify-content-lg-start">
            <li class="breadcrumb-item"><a class="text-nowrap" [routerLink]="['/']" ><i class="czi-home"></i>Inicio</a></li>
            <li class="breadcrumb-item text-nowrap active"><a style="color: #d8d8d8;"><i class="czi-arrow-right"></i>  Productos</a>
            </li>
            
          </ol>
        </nav>
      </div>
      <div class="order-lg-1 pr-lg-4 text-center text-lg-left">
        <h1 class="h3 text-light mb-0">
          <span class="czi-apple"></span>
          Productos</h1>
      </div>
    </div>
  </div>
  <!-- Page Content-->
  <div class="container pb-5 mb-2 mb-md-4">
    <div class="row">
      <!-- Sidebar-->
      <aside class="col-lg-4">
        <!-- Sidebar-->
        <div class="cz-sidebar rounded-lg box-shadow-lg" id="shop-sidebar">
          <div class="cz-sidebar-header box-shadow-sm">
            <button class="close ml-auto" type="button" data-dismiss="sidebar" aria-label="Close"><span class="d-inline-block font-size-xs font-weight-normal align-middle">Close sidebar</span><span class="d-inline-block align-middle ml-2" aria-hidden="true">&times;</span></button>
          </div>
          <div class="cz-sidebar-body" data-simplebar data-simplebar-auto-hide="true">
            <!-- Categories-->
            <div class="widget widget-categories mb-4 pb-4 border-bottom">
              <h3 class="widget-title">Categorías</h3>
              <div class="accordion mt-n1" id="shop-categories">

                <div class="card">
                  <div class="card-header">
                    <h3 class="accordion-heading">
                      <a class="collapsed" [ngClass]="{active: categoria_route == undefined}" [routerLink]="['/productos']" >Ver todos</a></h3>
                  </div>
                  
                </div>

                <!-- Accessories-->
                <ng-container *ngFor="let categoria of categorias;let indice=index">
                  <ng-container *ngIf="categoria_route == categoria.nombre.toLowerCase().trim()">
                    <div class="card" >
                      <div class="card-header">
                        <h3 class="accordion-heading">
                          <a class="active" href="#cat-{{indice}}"  role="button" data-toggle="collapse" aria-expanded="true" [attr.aria-controls]="'cat-'+indice">{{categoria.nombre}}
                            <span class="accordion-indicator"></span>
                          </a>
                        </h3>
                      </div>
                      <div class="collapse show" [attr.id]="'cat-'+indice" data-parent="#shop-categories">
                        <div class="card-body">
                          <div class="widget widget-links">
                            <ul class="widget-list">
                              <li class="widget-list-item">
                                  <a [ngClass]="{active: subcategoria_route == 'todo'}" class="widget-list-link d-flex justify-content-between align-items-center" [routerLink]="['/productos/'+categoria.nombre.toLowerCase().trim()+'/subcategoria/todo']"  >
                                      <span>Ver todos</span>
                                      
                                    </a>
                                </li>
                              <ng-container *ngFor="let sub of data_subcategorias">
                                <li class="widget-list-item" *ngIf="categoria._id == sub._id">

                                

                                  <a *ngIf="subcategoria_route == sub.subcategoria.toLowerCase().trim()" class="widget-list-link d-flex justify-content-between align-items-center active" [routerLink]="['/productos/'+categoria.nombre.toLowerCase().trim()+'/subcategoria/',sub.subcategoria.toLowerCase().trim()]" routerLinkActive="router-link-active" >
                                      <span>{{sub.subcategoria}}</span>
                                     
                                    </a>
                                    <a *ngIf="subcategoria_route != sub.subcategoria.toLowerCase().trim()" class="widget-list-link d-flex justify-content-between align-items-center" [routerLink]="['/productos/'+categoria.nombre.toLowerCase().trim()+'/subcategoria/',sub.subcategoria.toLowerCase().trim()]" routerLinkActive="router-link-active" >
                                      <span>{{sub.subcategoria}}</span>
                                     
                                    </a>

                                </li>
                              </ng-container>
  
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </ng-container>
                  <ng-container *ngIf="categoria_route != categoria.nombre.toLowerCase().trim()">
                    <div class="card" >
                      <div class="card-header">
                        <h3 class="accordion-heading">
                          <a class="collapsed" href="#cat-{{indice}}"  role="button" data-toggle="collapse" aria-expanded="collapse" [attr.aria-controls]="'cat-'+indice">{{categoria.nombre}}
                            <span class="accordion-indicator"></span>
                          </a>
                        </h3>
                      </div>
                      <div class="collapse" [attr.id]="'cat-'+indice" data-parent="#shop-categories">
                        <div class="card-body">
                          <div class="widget widget-links">
                            <ul class="widget-list">
                              <li class="widget-list-item">
                                  <a class="widget-list-link d-flex justify-content-between align-items-center" [routerLink]="['/productos/'+categoria.nombre.toLowerCase().trim()+'/subcategoria/todo']"  >
                                      <span>Ver todos</span>
                                      
                                    </a>
                                </li>
                                <ng-container *ngFor="let sub of data_subcategorias">
                                  <li class="widget-list-item" *ngIf="categoria._id == sub._id">
                                    <a class="widget-list-link d-flex justify-content-between align-items-center" [routerLink]="['/productos/'+categoria.nombre.toLowerCase().trim()+'/subcategoria/',sub.subcategoria.toLowerCase().trim()]" routerLinkActive="router-link-active" >
                                        <span>{{sub.subcategoria}}</span>
                                       
                                      </a>
                                  </li>
                                </ng-container>
  
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </ng-container>
                </ng-container>
                
              </div>
            </div>
            <!-- Price range-->
            <div class="widget mb-4 pb-4 border-bottom">
              <h3 class="widget-title">Precios</h3>
              <div id="slider" class="cz-range-slider"></div>
              <div class="d-flex pb-1 mt-4">
                <div class="w-50 pr-2 mr-2">
                  <div class="input-group input-group-sm">
                    <div class="input-group-prepend"><span class="input-group-text">$</span></div>
                    <input class="form-control cz-range-slider-value-min" readonly type="text">
                  </div>
                </div>
                <div class="w-50 pl-2">
                  <div class="input-group input-group-sm">
                    <div class="input-group-prepend"><span class="input-group-text">$</span></div>
                    <input class="form-control cz-range-slider-value-max" readonly type="text">
                  </div>
                </div>
              </div>

              <button class="btn btn-accent btn-sm btn-block" type="button" style="margin-top:8px" (click)="filter_prices()">Filtrar</button>
            </div>
            <!-- Filter by Brand-->
            <div class="widget cz-filter mb-4 pb-4 border-bottom">
              <h3 class="widget-title">Marcas</h3>
              <div class="input-group-overlay input-group-sm mb-2">
                <form #searchForm="ngForm" (keyup)="search_marca(searchForm)">
                  <input class="cz-filter-search form-control form-control-sm appended-form-control" type="text" placeholder="Buscar" name="filter_marca" [(ngModel)]="filter_marca">
                  <div class="input-group-append-overlay"><span class="input-group-text"><i class="czi-search"></i></span></div>
                </form>
              </div>
              <ul class="widget-list cz-filter-list list-unstyled pt-1" style="max-height: 12rem;" data-simplebar data-simplebar-auto-hide="false">
               
                <div class="custom-control custom-radio" *ngFor="let marca of marcas">
                  <input class="custom-control-input" type="radio" [attr.id]="'marca-'+marca._id" name="radio" (change)="onChangeMarca($event,marca)">
                  <label class="custom-control-label" [attr.for]="'marca-'+marca._id">{{marca.nombre}}</label>
                </div>
              </ul>
            </div>
            <!-- Filter by Size-->
           
          </div>
        </div>
      </aside>
      <!-- Content  -->
      <section class="col-lg-8">
        <!-- Toolbar-->
        <div class="d-flex justify-content-center justify-content-sm-between align-items-center pt-2 pb-4 pb-sm-5">
          <div class="d-flex flex-wrap">
            <div class="form-inline flex-nowrap mr-3 mr-sm-4 pb-3">
           
                <label class="text-light opacity-75 text-nowrap mr-2 d-none d-sm-block" for="sorting">Ordenar por:</label>
                <select class="form-control custom-select" id="sorting" (change)="sort_filter()" name="sort" [(ngModel)]="sort">
                  <option value="date">Fecha</option>
                  <option value="lower">Menor - Mayor Precio</option>
                  <option value="major">Mayor - Menor Precio</option>
                  <option value="rating">Rating</option>
                  <option value="asc">A - Z</option>
                  <option value="desc">Z - A</option>
                </select><span class="font-size-sm text-light opacity-75 text-nowrap ml-2 d-none d-md-block">de {{productos.length}} productos</span>
            
            </div>
          </div>
         
          <div class="d-none d-sm-flex pb-3">
            <button class="btn btn-icon nav-link-style nav-link-light mr-2" *ngIf="mode_view == 2" (click)="mode_view_one()">
              <i class="czi-view-grid"></i>
            </button>
            <button class="btn btn-icon nav-link-style bg-light text-dark disabled opacity-100 mr-2" (click)="mode_view_one()" *ngIf="mode_view == 1">
              <i class="czi-view-grid"></i>
            </button>

            <button class="btn btn-icon nav-link-style nav-link-light" *ngIf="mode_view == 1" type="button" (click)="mode_view_two()">
              <i class="czi-view-list"></i>
            </button>
            <button class="btn btn-icon nav-link-style bg-light text-dark disabled opacity-100" *ngIf="mode_view == 2" type="button" (click)="mode_view_two()">
              <i class="czi-view-list"></i>
            </button>
          </div>
        </div>
        <!-- Products grid-->

        <ng-container>
          <div class="row mx-n2" *ngIf="mode_view == 1">
            <!-- Product-->
            <div class="col-md-4 col-sm-6 px-2 mb-4" *ngFor="let item of productos | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
              <div class="card product-card">
                
                  <a class="card-img-top d-block overflow-hidden" [routerLink]="['/producto/',item.slug]" >
                    <img [src]="url+'productos_img_data/resources/thumbnails/'+item.poster" alt="Product">
                  </a>
                <div class="card-body py-2">
                    <a class="product-meta d-block font-size-xs pb-1" href="#">
                      {{item.categoria.nombre}} - {{item.subcategoria}}
                    </a>
                  <h3 class="product-title font-size-sm"  data-toggle="tooltip" data-placement="right" title="{{item.titulo}}"><a [routerLink]="['/producto/',item.slug]" >{{item.titulo.substr(0,27)}}...</a></h3>
                  <div class="d-flex justify-content-between">
                     <div class="product-price">
                        <span class="text-accent">${{item.precio_ahora}}</span>
                        <del class="font-size-sm text-muted" style="padding-left: 5px;"><small style="font-size: 14px;">${{item.precio_antes}}</small></del>
                      </div>
                    <div class="star-rating" *ngIf="item.stars == 5">
                        <i class="sr-star czi-star-filled active"></i>
                        <i class="sr-star czi-star-filled active"></i>
                        <i class="sr-star czi-star-filled active"></i>
                        <i class="sr-star czi-star-filled active"></i>
                        <i class="sr-star czi-star-filled active"></i>
                    </div>
                  </div>
                </div>
                <div class="card-body card-body-hidden">
                  
                 
                </div>
              </div>
              <hr class="d-sm-none">
            </div>
          
          </div>
  
          <ng-container *ngIf="mode_view == 2">
            <div class="card product-card product-list" *ngFor="let item of productos | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
              
              <div class="d-sm-flex align-items-center">
                <a class="product-list-thumb" [routerLink]="['/producto/',item.slug]"  >
                  <img [src]="url+'productos_img_data/resources/thumbnails/'+item.poster" alt="Product">
                </a>
                <div class="card-body py-2"><a class="product-meta d-block font-size-xs pb-1" href="#">{{item.categoria.nombre}} - {{item.subcategoria}}</a>
                  <h3 class="product-title font-size-base"><a [routerLink]="['/producto/',item.slug]"  >{{item.titulo.substr(0,69)}}</a></h3>
                  <div class="d-flex justify-content-between">
                    <div class="product-price">
                      <span class="text-accent">
                        ${{item.precio_ahora}}
                        <del class="font-size-sm text-muted" style="padding-left: 5px;"><small style="font-size: 14px;">${{item.precio_antes}}</small></del>
                      </span>
                    </div>
                    <div class="star-rating" *ngIf="item.stars == 5">
                        <i class="sr-star czi-star-filled active"></i>
                        <i class="sr-star czi-star-filled active"></i>
                        <i class="sr-star czi-star-filled active"></i>
                        <i class="sr-star czi-star-filled active"></i>
                        <i class="sr-star czi-star-filled active"></i>
                    </div>
                  </div>
                  
                </div>
              </div>
            </div>
            <hr class="pt-3 mt-3">
          </ng-container>

          <hr class="my-3">
          <!-- Pagination-->
          <ngb-pagination
          [(page)]="page"
          [pageSize]="pageSize"
          [collectionSize]="count_cat"></ngb-pagination>
        </ng-container>
     
        
        
      </section>
    </div>
  </div>
  <!-- Toast: Added to Cart-->
  <div class="toast-container toast-bottom-center">
    <div class="toast mb-3" id="cart-toast" data-delay="5000" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="toast-header bg-success text-white"><i class="czi-check-circle mr-2"></i>
        <h6 class="font-size-sm text-white mb-0 mr-auto">Added to cart!</h6>
        <button class="close text-white ml-2 mb-1" type="button" data-dismiss="toast" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="toast-body">This item has been added to your cart.</div>
    </div>
  </div>

<app-foot></app-foot>