<div
  class="container d-flex flex-wrap flex-sm-nowrap justify-content-center justify-content-sm-between align-items-center pt-2"
>
  <div class="media media-ie-fix align-items-center pb-3">
    <div
      class="img-thumbnail rounded-circle position-relative"
      style="width: 6.375rem"
    >
      <img
        class="rounded-circle"
        src="../../../../assets/img/admin.png"
        alt="Createx Studio"
      />
    </div>
    <div class="media-body pl-3">
      <h3 class="text-light font-size-lg mb-0">
        {{ identity.first_name }} {{ identity.last_name }}
      </h3>
      <span class="d-block text-light font-size-ms opacity-60 py-1"
        >Administrador de E-commerce</span
      >
    </div>
  </div>
  <div class="d-flex">
    <div class="text-sm-right">
      <div class="text-light font-size-base">Soporte Técnico</div>
      <a href="#"><h4 class="text-light font-size-base">(55) 8185-3675</h4></a>
      <div class="text-light opacity-60 font-size-sm">
        Desarrollado por Disturbio Ilustrativo
      </div>
    </div>
  </div>
</div>
